# doc artifacts
html/*

# scratch file for testing linking
scratch.cc

# compiled artifacts
a.out
*.o
*.a
*.so*
*.d
*.pyc

# example protocol7 files
*.p7

# example binary
layer9-example/predict

.gdb_history

.pytest_cache/*
psyche/psyche.egg-info/*
